<%= form_with(model: maintenance_schedule) do |form| %>
  <% if maintenance_schedule.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(maintenance_schedule.errors.count, "error") %> prohibited this maintenance schedule from being saved:</h4>
      <ul>
        <% maintenance_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline mb-4">
        <%= form.label :title, class: maintenance_schedule.title.present? ? 'form-label' : 'form-label' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group input-group-outline mb-4">
        <%= form.label :asset_id, 'Asset', class: 'form-label' %>
        <%= form.collection_select :asset_id, 
            Asset.order(:name), 
            :id, 
            :name, 
            { prompt: 'Select Asset' }, 
            { class: 'form-select' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-outline mb-4">
        <%= form.label :description, class: maintenance_schedule.description.present? ? 'form-label' : 'form-label' %>
        <%= form.text_area :description, rows: 3, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <%= form.label :frequency, class: 'form-label' %>
        <%= form.select :frequency, 
            MaintenanceSchedule.frequencies.map { |k, v| [k.to_s.titleize, v] }, 
            { prompt: 'Select Frequency' }, 
            { class: 'form-select' } %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <%= form.label :next_due_at, 'Next Due Date', class: 'form-label' %>
        <%= form.datetime_field :next_due_at, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group input-group-outline mb-4">
        <%= form.label :assigned_to_id, 'Assign To', class: 'form-label' %>
        <%= form.collection_select :assigned_to_id, 
            User.order(:email), 
            :id, 
            :email, 
            { prompt: 'Select User' }, 
            { class: 'form-select' } %>
      </div>
    </div>
  </div>

  <% if maintenance_schedule.persisted? %>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group input-group-outline mb-4">
          <%= form.label :status, class: 'form-label' %>
          <%= form.select :status, 
              MaintenanceSchedule.statuses.map { |k, v| [k.to_s.titleize, v] }, 
              { prompt: 'Select Status' }, 
              { class: 'form-select' } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', maintenance_schedules_path, class: 'btn btn-secondary' %>
  </div>
<% end %> 