<%= form_with(model: maintenance_schedule) do |form| %>
  <% if maintenance_schedule.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(maintenance_schedule.errors.count, "error") %> prohibited this maintenance schedule from being saved:</h4>
      <ul>
        <% maintenance_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-dynamic mb-4">
        <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group input-group-static mb-4">
        <%= form.collection_select :asset_id, 
            Asset.order(:name), 
            :id, 
            :name, 
            { prompt: 'Select Asset' }, 
            { class: 'form-select' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-dynamic mb-4">
        <%= form.text_area :description, rows: 3, class: 'form-control', placeholder: 'Description' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="input-group input-group-static mb-4">
        <%= form.select :frequency, 
            MaintenanceSchedule.frequencies.map { |k, v| [k.to_s.titleize, v] }, 
            { prompt: 'Select Frequency' }, 
            { class: 'form-select' } %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group input-group-static mb-4">
        <%= form.datetime_field :next_due_at, class: 'form-control', placeholder: 'Next Due Date' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group input-group-static mb-4">
        <%= form.collection_select :assigned_to_id, 
            User.order(:email), 
            :id, 
            :email, 
            { prompt: 'Select User' }, 
            { class: 'form-select' } %>
      </div>
    </div>
  </div>

  <% if maintenance_schedule.persisted? %>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group input-group-static mb-4">
          <%= form.select :status, 
              MaintenanceSchedule.statuses.keys.map { |s| [s.titleize, s] },
              { prompt: 'Select Status' }, 
              { class: 'form-select' } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-end gap-3 mt-4">
    <%= link_to 'Cancel', maintenance_schedules_path, class: 'btn btn-dark-gray' %>
    <%= form.submit class: 'btn btn-dark' %>
  </div>  
<% end %> 