<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Licenses</h4>
    <div class="d-flex gap-2">  
      <% if policy(License.new).create? %>
        <%= link_to new_license_path, class: 'btn bg-gradient-dark' do %>
          <i class="material-icons-round text-sm">add</i>&nbsp;&nbsp;New License
        <% end %>
      <% end %>
    </div>
  </div> 

  <div class="card mb-4">
    <div class="card-body">
      <%= search_form_for @q, url: licenses_path do |f| %>
        <div class="row g-4">
          <div class="col-md-3">
            <div class="input-group input-group-dynamic">
              <%= f.search_field :name_cont, placeholder: 'Search by Name', class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3">
            <%= f.label "Expiration From", class: 'form-label' %>
            <%= f.date_field :expiration_date_gteq, class: 'form-control' %>
          </div>
          <div class="col-md-3">
            <%= f.label "Expiration To", class: 'form-label' %>
            <%= f.date_field :expiration_date_lteq, class: 'form-control' %>
          </div>
        </div>
        <div class="mt-4">
          <%= f.submit "Search", class: 'btn bg-gradient-info' %>
          <%= link_to "Clear", licenses_path, class: 'btn bg-gradient-secondary' %>
        </div>
      <% end %>
    </div>
  </div> 

  <div class="card">
    <div class="card-body">
      <div class="table-responsive p-0">
        <table class="table table-striped align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <%= sort_link(@q, :name, "License") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :asset_name, "Asset") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :seats, "Seats") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :expiration_date, "Expiration") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :purchase_date, "Purchased") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @licenses.each do |license| %>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm"><%= license.name %></h6>
                      <p class="text-xs text-secondary mb-0"><%= license.license_key %></p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0"><%= license.asset&.name %></p>
                  <p class="text-xs text-secondary mb-0"><%= license.asset&.asset_code %></p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0"><%= license.seats || 'Unlimited' %></p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">
                    <%= license.expiration_date&.strftime("%Y-%m-%d") || 'No expiration' %>
                  </p>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">
                    <%= license.purchase_date&.strftime("%Y-%m-%d") || 'Not set' %>
                  </p>
                </td>

                <td class="align-middle">
                  <div class="btn-group">
                    <%= link_to license_path(license), 
                        class: "btn btn-link text-secondary mb-0", 
                        title: "View" do %>
                      <i class="material-icons-round">visibility</i>
                    <% end %>

                    <%= link_to edit_license_path(license), 
                        class: "btn btn-link text-secondary mb-0",
                        title: "Edit" do %>
                      <i class="material-icons-round">edit</i>
                    <% end %>

                    <%= link_to license_path(license),
                        class: "btn btn-link text-secondary mb-0",
                        data: { 
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure you want to delete this license?"
                        },
                        title: "Delete" do %>
                      <i class="material-icons-round">delete</i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>      
    </div>
    <div class="card-footer px-3 border-0">
      <div class="d-flex justify-content-between align-items-center">
        <%= paginate @licenses %>
        <% if policy(License.new).create? %>
          <%= link_to new_license_path, class: 'btn bg-gradient-dark mb-0' do %>
            <i class="material-icons-round text-sm">add</i>&nbsp;&nbsp;New License
          <% end %>
        <% end %>
      </div>
    </div> 
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
<% end %> 