<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">License Details</h4>
    <div class="d-flex gap-3">
      <% if current_user.admin? %>
        <%= link_to edit_license_path(@license), class: 'btn bg-gradient-dark mb-0' do %>
          <i class="material-icons-round text-sm">edit</i>&nbsp;Edit License
        <% end %>
      <% end %>
      <%= link_to licenses_path, class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">arrow_back</i>&nbsp;Back to Licenses
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Name</h6>
            <p class="text-lg mb-0"><%= @license.name %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">License Key</h6>
            <p class="text-lg mb-0"><%= @license.license_key %></p>
          </div>


          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Seats</h6>
            <p class="text-lg mb-0"><%= @license.seats || 'Unlimited' %></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Cost</h6>
            <p class="text-lg mb-0"><%= number_to_currency(@license.cost) %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Purchase Date</h6>
            <p class="text-lg mb-0">
              <%= @license.purchase_date&.strftime("%B %d, %Y") || 'Not set' %>
            </p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Expiration Date</h6>
            <p class="text-lg mb-0">
              <%= @license.expiration_date&.strftime("%B %d, %Y") || 'No expiration' %>
            </p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Vendor</h6>
            <p class="text-lg mb-0"><%= @license.supplier || 'Not specified' %></p>
          </div>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-12">
          <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Notes</h6>
          <p class="text-lg mb-0"><%= @license.notes %></p>
        </div>

        <div class="col-12">
          <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Assets</h6>
          <div class="text-lg mb-0">
            <% if @license.assets.any? %>
              <div class="d-flex flex-wrap gap-2">
                <% @license.assets.each do |asset| %>
                  <%= link_to inventory_asset_path(asset), class: 'badge badge-sm bg-gradient-light text-dark d-flex align-items-center gap-1' do %>
                    <i class="material-icons-round text-sm">computer</i>
                    <%= asset.name %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <span class="text-secondary">Not assigned</span>
            <% end %>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div> 