<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Asset Details</h4>
    <div class="d-flex gap-3">
      <%= link_to edit_inventory_asset_path(@asset), class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">edit</i>&nbsp;Edit Asset
      <% end %>
      <%= link_to inventory_assets_path, class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">arrow_back</i>&nbsp;Back to Assets
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Asset Name</h6>
            <p class="text-lg mb-0"><%= @asset.name %></p>
          </div>
          
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Asset Code</h6>
            <p class="text-lg mb-0"><%= @asset.asset_code %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Status</h6>
            <span class="badge badge-lg bg-gradient-<%= status_color(@asset.status) %>">
              <%= @asset.status.titleize %>
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Category</h6>
            <p class="text-lg mb-0"><%= @asset.category&.name %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Location</h6>
            <p class="text-lg mb-0"><%= @asset.location&.name %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Created At</h6>
            <p class="text-lg mb-0"><%= @asset.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Description</h6>
            <p class="text-lg mb-0"><%= @asset.description.presence || "No description provided" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 