<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><%= content_for?(:title) ? yield(:title) : 'Dashboard' %></li>
      </ol>
      <h6 class="font-weight-bolder mb-0"><%= content_for?(:title) ? yield(:title) : 'Dashboard' %></h6>
    </nav>
    
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label">Search here...</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <ul class="navbar-nav justify-content-end">
        <% if user_signed_in? %>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              <li class="mb-2">
                <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item border-radius-md" %>
              </li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item border-radius-md" %>
              </li>
            </ul>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">notifications</i>
            <% if current_user.notifications.unread.any? %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= current_user.notifications.unread.count %>
                <span class="visually-hidden">unread notifications</span>
              </span>
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <% current_user.notifications.unread.limit(5).each do |notification| %>
              <li>
                <%= link_to notification.to_notification.url, class: "dropdown-item" do %>
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                      <div class="small text-gray-500">
                        <%= time_ago_in_words(notification.created_at) %> ago
                      </div>
                      <%= notification.to_notification.message %>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
            <% if current_user.notifications.unread.any? %>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "View all notifications", notifications_path, class: "dropdown-item text-center small text-gray-500" %>
              </li>
            <% else %>
              <li>
                <span class="dropdown-item text-center">No new notifications</span>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 