<%= form_with(model: rfid_tag) do |f| %>
  <% if rfid_tag.errors.any? %>
    <div class="alert alert-danger text-white" role="alert">
      <h6 class="text-white mb-1">
        <%= pluralize(rfid_tag.errors.count, "error") %> prohibited this RFID tag from being saved:
      </h6>
      <ul class="mb-0">
        <% rfid_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-4">
    <div class="col-md-6">
      <div class="input-group input-group-dynamic <%= rfid_tag.rfid_number.present? ? 'is-filled' : '' %>">
        <%= f.text_field :rfid_number, class: 'form-control', placeholder: 'RFID Number' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group input-group-static">
        <%= f.label :asset_id, "Asset" %>
        <%= f.collection_select :asset_id, Asset.all, :id, :name, 
            { include_blank: true }, 
            { class: 'form-select' } %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-check form-switch">
        <%= f.label :active, class: 'form-label' %>
        <%= f.check_box :active, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-3 mt-4">
    <%= link_to 'Back', rfid_tags_path, class: 'btn btn-dark-gray' %>
    <%= f.submit class: 'btn btn-dark' %>
  </div>
<% end %> 