<div class="container-fluid py-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">RFID Tags</h4>
    <div class="d-flex gap-2">  
      <% if policy(RfidTag.new).create? %>
        <%= link_to new_rfid_tag_path, class: 'btn bg-gradient-dark' do %>
          <i class="material-icons-round text-sm">add</i>&nbsp;&nbsp;New RFID Tag
        <% end %>
      <% end %>
    </div>
  </div> 

  <div class="card mb-4">
    <div class="card-body">
      <%= search_form_for @q, url: rfid_tags_path do |f| %>
        <div class="row g-4">
          <div class="col-md-3">
            <div class="input-group input-group-dynamic">
              <%= f.search_field :rfid_number_cont, placeholder: 'Search by RFID Number', class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-dynamic">
              <%= f.search_field :asset_name_cont, placeholder: 'Search by Asset Name', class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static">
              <%= f.label "Status", class: 'form-label' %>
              <%= f.select :active_eq, [['Active', true], ['Inactive', false]], { include_blank: true }, class: 'form-select' %>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <%= f.submit "Search", class: 'btn bg-gradient-info' %>
          <%= link_to "Clear", rfid_tags_path, class: 'btn bg-gradient-secondary' %>

          <%= link_to "Show Deleted", rfid_tags_path(show_deleted: true), class: "btn btn-outline-secondary" unless params[:show_deleted] %>
          <%= link_to "Hide Deleted", rfid_tags_path, class: "btn btn-outline-secondary" if params[:show_deleted] %>
        </div>
      <% end %>
    </div>
  </div>  

  <div class="card">
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table table-striped align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :rfid_number, "RFID Number") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :asset_name, "Asset") %>
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <%= sort_link(@q, :active, "Status") %>
              </th>
              <% if current_user.admin? %>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @rfid_tags.each do |tag| %>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm"><%= tag.rfid_number %></h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0"><%= tag.asset&.name %></p>
                </td>
                <td>
                  <span class="badge badge-sm bg-gradient-<%= tag.active? ? 'success' : 'secondary' %>">
                    <%= tag.active? ? 'Active' : 'Inactive' %>
                  </span>
                </td>
                <% if current_user.admin? %>
                  <td class="align-middle">
                    <div class="d-flex gap-2 justify-content-center">
                      <%= link_to rfid_tag_path(tag), class: "btn btn-link text-secondary mb-0", title: "View details" do %>
                        <i class="material-icons-round">visibility</i>
                      <% end %>
                      <%= link_to edit_rfid_tag_path(tag), class: "btn btn-link text-secondary mb-0", title: "Edit tag" do %>
                        <i class="material-icons-round">edit</i>
                      <% end %>
                      <%= button_to rfid_tag_path(tag), 
                          method: :delete, 
                          class: "btn btn-link text-secondary mb-0", 
                          title: "Delete tag", 
                          data: { confirm: "Are you sure?" } do %>
                        <i class="material-icons-round">delete</i>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer px-3 border-0">
      <div class="d-flex justify-content-between align-items-center">
        <%= paginate @rfid_tags %>
        <% if policy(RfidTag.new).create? %>
          <%= link_to new_rfid_tag_path, class: 'btn bg-gradient-dark mb-0' do %>
            <i class="material-icons-round text-sm">add</i>&nbsp;&nbsp;New RFID Tag
          <% end %>
        <% end %>
      </div>
    </div>     
  </div>
</div> 