<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Asset Assignment Details</h4>
    <div class="d-flex gap-3">
      <%= link_to edit_asset_assignment_path(@asset_assignment), class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">edit</i>&nbsp;Edit Assignment
      <% end %>
      <%= link_to asset_assignments_path, class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">arrow_back</i>&nbsp;Back to Assignments
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Asset</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.asset&.name %></p>
          </div>
          
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Assigned To</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.user&.email %></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Checked Out At</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.checked_out_at&.strftime("%B %d, %Y %I:%M %p") %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Checked In At</h6>
            <p class="text-lg mb-0">
              <%= @asset_assignment.checked_in_at&.strftime("%B %d, %Y %I:%M %p") || "Not checked in yet" %>
            </p>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Notes</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.notes.presence || "No notes provided" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 