<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Asset Assignment Details</h4>
    <div class="d-flex gap-3">
      <%= link_to edit_asset_assignment_path(@asset_assignment), class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">edit</i>&nbsp;Edit Assignment
      <% end %>
      <%= link_to asset_assignments_path, class: 'btn bg-gradient-dark mb-0' do %>
        <i class="material-icons-round text-sm">arrow_back</i>&nbsp;Back to Assignments
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Asset</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.asset&.name&.titleize %></p>
          </div>
          
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Assigned To</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.user&.full_name&.titleize %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Assigned By</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.assigned_by&.full_name&.titleize %></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Checked Out At</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.checked_out_at&.strftime("%B %d, %Y %I:%M %p") %></p>
          </div>

          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Checked In At</h6>
            <p class="text-lg mb-0">
              <%= @asset_assignment.checked_in_at&.strftime("%B %d, %Y %I:%M %p") || "Not checked in yet" %>
            </p>
          </div>
        </div>

        <div class="col-12">
          <div class="mb-4">
            <h6 class="text-uppercase text-secondary text-xxs font-weight-bolder">Notes</h6>
            <p class="text-lg mb-0"><%= @asset_assignment.notes.presence || "No notes provided" %></p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mb-3">
        <% if @asset_assignment.checked_in_at.nil? %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkInModal<%= @asset_assignment.id %>">
            Check In
          </button>
        <% else %>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#checkOutModal<%= @asset_assignment.id %>">
            Check Out
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'check_in_modal', assignment: @asset_assignment %>
<%= render 'check_out_modal', assignment: @asset_assignment %>

<style>
  .modal-backdrop {
    display: none;
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-dialog {
    margin: 1.75rem auto;
  }
</style> 