<div class="container mt-4">
  <h1>New Asset</h1>

  <%= form_with(model: @asset, local: true) do |f| %>
    <% if @asset.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>
        <ul>
          <% @asset.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, Asset.statuses.keys.map { |s| [s.humanize, s] }, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :location_id %>
      <%= f.collection_select :location_id, Location.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <%= f.submit 'Create Asset', class: 'btn btn-primary' %>
    <%= link_to 'Back', assets_path, class: 'btn btn-secondary' %>
  <% end %>
</div> 