
<%= form_with(model: @category, local: true) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert-danger text-white" role="alert">
      <h6 class="text-white mb-1">
        <%= pluralize(@category.errors.count, "error") %> prevented this category from being saved:
      </h6>
      <ul class="mb-0">
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-4">
    <div class="col-md-12">
      <div class="input-group input-group-dynamic mb-4">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="input-group input-group-dynamic mb-4">
        <%= f.text_area :description, rows: 4, class: 'form-control', placeholder: 'Description' %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-3 mt-4">
    <%= link_to 'Back', categories_path, class: 'btn btn-dark-gray' %>
    <%= f.submit class: 'btn btn-dark' %>
    <%# If the category is new don't show the show button , if it is not show it %>
    <% if @category.persisted? %>
      <%= link_to 'Show', @category, class: 'btn btn-info' %>
    <% end %>
  </div>
<% end %>
