<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Edit User</h1>
    <%= link_to admin_users_path, class: 'btn btn-secondary' do %>
      <i class="fas fa-arrow-left"></i> Back to Users
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <%= form_with(model: [:admin, @user], local: true) do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-6 mb-3">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="col-md-6 mb-3">
            <%= f.label :role, class: 'form-label' %>
            <%= f.select :role, 
                User.available_roles.map { |r| [r.titleize, r] }, 
                { selected: @user.current_role }, 
                class: 'form-select' 
            %>
          </div>

          <div class="col-md-6 mb-3">
            <%= f.label :first_name, class: 'form-label' %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="col-md-6 mb-3">
            <%= f.label :last_name, class: 'form-label' %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="col-md-6 mb-3">
            <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, class: 'form-control' %>
            <div class="form-text">Leave blank if you don't want to change it</div>
          </div>

          <div class="col-md-6 mb-3">
            <%= f.label :password_confirmation, class: 'form-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-check form-switch">
              <%= f.check_box :active, class: 'form-check-input' %>
              <%= f.label :active, class: 'form-check-label' %>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <%= f.submit 'Update User', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', admin_users_path, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div> 