<div data-controller="oauth-application">
  <div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="mb-0"><%= @application.name %></h4>
      <div class="d-flex gap-2">
        <% if policy(@application).update? %>
          <%= link_to edit_admin_oauth_application_path(@application), class: 'btn bg-gradient-dark' do %>
            <i class="material-icons-round text-sm">edit</i>&nbsp;&nbsp;Edit Application
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-8 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <h6>Application Details</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <tbody>
                  <tr>
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold mb-0">Organization</p>
                      <h6 class="text-sm mb-0"><%= @application.organization_name %></h6>
                    </td>
                  </tr>
                  <tr>
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold mb-0">Client ID</p>
                      <div class="input-group">
                        <input type="text" class="form-control" value="<%= @application.uid %>" readonly>
                        <button class="btn btn-outline-secondary" type="button" 
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard"
                                onclick="navigator.clipboard.writeText('<%= @application.uid %>')">
                          <i class="material-icons-round text-sm">content_copy</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold mb-0">Client Secret</p>
                      <div class="input-group">
                        <input type="password" class="form-control" value="<%= @application.secret %>" readonly>
                        <button class="btn btn-outline-secondary" type="button" 
                                onclick="toggleSecretVisibility(this)">
                          <i class="material-icons-round text-sm">visibility</i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button" 
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard"
                                onclick="navigator.clipboard.writeText('<%= @application.secret %>')">
                          <i class="material-icons-round text-sm">content_copy</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold mb-0">Scopes</p>
                      <h6 class="text-sm mb-0">
                        <% @application.scopes.each do |scope| %>
                          <span class="badge bg-gradient-info"><%= scope %></span>
                        <% end %>
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold mb-0">Status</p>
                      <h6 class="text-sm mb-0">
                        <span class="badge bg-gradient-<%= @application.confidential? ? 'success' : 'warning' %>">
                          <%= @application.confidential? ? 'Confidential' : 'Public' %>
                        </span>
                      </h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <h6>Active Readers</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Last Seen</th>
                  </tr>
                </thead>
                <tbody>
                  <% @readers.each do |reader| %>
                    <tr>
                      <td class="ps-4">
                        <h6 class="text-sm mb-0"><%= reader.name %></h6>
                      </td>
                      <td>
                        <p class="text-sm text-secondary mb-0">
                          <%= time_ago_in_words(reader.last_ping_at) if reader.last_ping_at %>
                        </p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-0">
            <h6>Recent Scans</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4">Time</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Asset</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Reader</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Event</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recent_scans.each do |scan| %>
                    <tr>
                      <td class="ps-4">
                        <p class="text-sm mb-0"><%= time_ago_in_words(scan.created_at) %> ago</p>
                      </td>
                      <td>
                        <p class="text-sm mb-0"><%= scan.asset.name %></p>
                      </td>
                      <td>
                        <p class="text-sm mb-0"><%= scan.scanned_by_device&.name %></p>
                      </td>
                      <td>
                        <p class="text-sm mb-0"><%= scan.event_type&.humanize %></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Toggle password visibility
    function toggleSecretVisibility(button) {
      var input = button.parentElement.querySelector('input');
      var icon = button.querySelector('i');
      
      if (input.type === 'password') {
        input.type = 'text';
        icon.textContent = 'visibility_off';
      } else {
        input.type = 'password';
        icon.textContent = 'visibility';
      }
    }
  </script>
<% end %> 